/* PHASE 1: Header */
header ul {
  display: inline-flex;;
  float: right;

}

header a {
  display: inline-flex;
  float: left;
  padding: 10px 20px;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

header a:hover {
  background-color: black;
}

header .logo {
  font-weight: bold;
}

nav {
  width: 70%;
  margin: auto;
}

.cf:after {
  content: "";
  display: block;
  clear: both;
}

header {
  background-color: red;
  color: white;
}
