/* PHASE 1: Header */
.hidden .menu {
  display: none;
}

.hidden:hover .menu {
  display: block;
}


header ul {
  display: inline-flex;;
  float: right;

}

header a {
  display: inline-flex;
  background-color: red;
  float: left;
  padding: 10px 20px;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

header a:hover {
  background-color: black;
}

header a:hover .badge {
  background: red;
}

header .logo {
  font-weight: bold;
}

header ul li {
  position: relative;
}

header .menu {
  position: absolute;
  top: 38px;
  left: 0px;
  color: black;
  display: block;
  width: 240px;
  background-color: #ccc;
}



header .menu li:hover {
  background-color: #eee;
}

header .menu li {
  text-align: center;
  margin: 1px;
  padding: 7px;
  background-color: white;
  font-size: 15px;
}

nav {
  width: 62%;
  margin: auto;
  font-size: 18px;
}

.cf:after {
  content: "";
  display: block;
  clear: both;
}

header {
  background-color: #f00;
  color: white;
  z-index: 1;
}

.badge {
  position:relative;

}

.badge[data-badge]:after {
  margin-left: 5px;
  content:attr(data-badge);
  font-size:.7em;
  background:black;
  color:white;
  border-radius:50%;
}

/*.badge[data-badge]:after {
  margin-left: 5px;
  content:attr(data-badge);
  font-size:.7em;
  background:black;
  color:white;
  width:18px;height:18px;
  text-align:center;
  line-height:18px;
  border-radius:50%;
  box-shadow:0 0 1px #333;
}*/
