/* PHASE 6: Sidebar */
.profile-picture {
  position: relative;
  margin-top: -120px;
  border-radius: 15px;
  overflow: hidden;
}

.profile-picture img {
  border: 1px solid black;
  border-radius: 15px;
}

.name {
  font-size: 25px;
  font-weight: bold;
  margin: 10px;

}

.online p {
  text-align: center;
}

.online {
  position: absolute;
  text-align: center;
  
  top: 22px;
  left: -40px;
  background-color: #0c0;
  color: white;
  padding: 3px 40px;
  border: 1px solid black;
  font-weight: bold;
  -webkit-transform: rotate(-45deg);
  letter-spacing: 2px;
  font-size: 12px;
}

.bio {
  margin: 11px;
}

.prof-nav {
  margin: 10px;
  font-weight: bold;
  list-style: none;
  text-decoration: none;
  border-bottom: 1px solid #ccc;
}

.prof-nav li {

  padding: 5px;
  border-top: 1px solid #ccc;
}

.prof-nav li:hover {
  background-color: #eee;
}
