/* PHASE 6: Sidebar */
.profile-picture {
  margin-top: -145px;
  border-radius: 15px;
}

.profile-picture img {
  border: 1px solid black;
  border-radius: 15px;
}

.name {
  font-size: 25px;
  font-weight: bold;
  margin: 10px;

}

.bio {
  margin: 11px;
}

.prof-nav {
  margin: 10px;
  font-weight: bold;
  list-style: none;
  text-decoration: none;
  border-bottom: 1px solid #ccc;
}

.prof-nav li {
  padding: 5px;
  border-top: 1px solid #ccc;
}
